html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Профиль - #{appname}
        link(rel="icon", href="/favicon.svg", type="image/svg")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/profile/index.css")
    body
        header
            div.logo
                img(src="/favicon.svg", alt="fvc")
                h1 #{appname}

            div.buttons
                a(href="/travels").about Маршруты
                a(href="/travels/new").createTravel Создать маршрут

            div.user
                if !user
                    a.login(href="/auth/login") Войти
                    a.register(href="/auth/register") Зарегистрироваться 
                else
                    h2.username #{user.name}
                    a.profile(href="/profile") Профиль

        button(onclick="(function(){navigation.back()})()", class="back") Назад

        hr

        div.profile
            img(src="/profiles/" + user.id + ".png").profile-image
            h2 #{user.name}
            h3 ID: #{user.id}

        hr

        main
            h1 Ваши личные маршруты
            div.private-travels
                if private_travels && private_travels.length > 0
                    for travel in private_travels
                        a(href="/travels/view?id=" + travel.id)
                            div.private-travel-block
                                h2 #{travel.name} 
                                p #{travel.town.name}
                else 
                    p Тут пусто...

            h1 Ваши публичные маршруты
            div.public-travels
                if public_travels && public_travels.length > 0
                    for travel in public_travels
                        a(href="/travels/view?id=" + travel.id)
                            div.private-travel-block
                                h2 #{travel.name} 
                                p #{travel.town.name}
                else 
                    p Тут пусто...


            h1 Маршруты на модерации
            div.public-travels
                if moderated_travels && moderated_travels.length > 0
                    for travel in moderated_travels
                        a(href="/travels/view?id=" + travel.id)
                            div.private-travel-block
                                h2 #{travel.name} 
                                p #{travel.town.name}
                else 
                    p Тут пусто...


        //- Control panel
        main
            h2 Панель управления аккаунтом
            p Изменить имя
            form(action="/api/auth/rename", method="post")
                input(type="text", name="name", placeholder="Новое имя", required)
                input(type="submit", value="Изменить")

            hr

            p Удалить аккаунт
            form(action="/api/auth/delete", method="post")
                input(type="submit", value="Удалить")
            
            hr

            p Выйти из аккаунта
            form(action="/api/auth/logout", method="post")
                input(type="submit", value="Выйти")
            
            hr

            p Загрузить аватарку
            form(action="/api/auth/avatar", method="post", enctype="multipart/form-data")
                input(type="file", accept="image/png", name='avatar' required)
                input(type="submit", value="Изменить")