html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Просмотр маршрута #{travelname} - #{appname}
        link(rel="icon", href="/favicon.svg", type="image/svg")
        link(rel="stylesheet", href="/css/global.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/travels/view.css")
    body
        header
            div.logo
                img(src="/favicon.svg", alt="fvc")
                h1 #{appname}

            div.buttons
                a(href="/travels").about Маршруты
                a(href="/travels/new").createTravel Создать маршрут

            div.user
                if !user
                    a.login(href="/auth/login") Войти
                    a.register(href="/auth/register") Зарегистрироваться 
                else
                    h2.username #{user.name}
                    a.profile(href="/profile") Профиль
        
        button(onclick="(function(){navigation.back()})()", class="back") Назад

        main
            h1 #{travel.name}
            h2 #{travel.town.name}
            p #{travel.description}
            a(href="/travels/comments?type=travel&id=" + travel.id) Комментарии и отзывы


            hr


            if travel.activities
                for activity in travel.activities
                    div.activity
                        h3 #{activity.name}
                        p #{activity.description}

                        img(src="/activities/" + activity.id + ".png", alt="Изображения отсутствуют")

                        a(href="/travels/comments?type=activity&r_id=" + travel.id + "&id=" + activity.id) Комментарии и отзывы


            //- TODO
            a(href="/api/admins/approve?id=" + travel.id) Опубликовать
            a(href="/api/admins/delete?id=" + travel.id) Удалить 